.container-card{
    height: 355px;
    width: 267px;
    background-color: rgb(24, 19, 64);
    transition: 0.4s ;
    box-shadow: 10px 8px 20px rgb(43, 52, 174);
    border-radius: 20px;
}

.container-card:hover{
    transform: scale(1.1);
}
